@media all and (max-width: 875px) {
  #site-description {
  	display: none;
  }
}

@media all and (max-width: 700px) {
	.categories {
		width: 100%;
		margin: 10px 0px;


		.category_icon {
			width: 25%;
		}
	}

	#main_content {
		width: 100%;
		margin-top: 0px;
	}
}

@media all and (max-width: 750px) {
	.title_content {
		display: none;
	}

	.title {
		display: none;
	}

	.main_content {
		padding: 20px 0px;
		width: 100%;
	}

	.support_content {
		display: none;
	}
}

@media all and (max-width: 530px) {
	h1 {
		font-size: 40px;
	}

	#footer {
		.footer-wrapper {
			.column {
				width: 100%;
			}

			.projects {
				padding-right: 0px;
				margin-bottom: 30px;
			}
		}
	}

	.next_post_nav table tr td, .prev_post_nav table tr td  {
		a.next_post_link,  a.prev_post_link {
			display: none;
		}

		a i {
			width: 100%;
			text-align: center;
		}
	}
}

@media all and (max-width: 465px) {
	.categories {
		width: 100%;


		.category_icon {
			width: 33%;
		}

	}
}

@media all and (max-width: 390px) {
	.categories {
		width: 100%;


		.category_icon {
			width: 50%;
		}

	}
}

@media all and (max-width: 350px) {
	#header {
		#site-title {

			a {
				background-image: url("../images/logo-small.png");
				width: 180px;
				height: 45px;
			}
		}

		.menu {
			padding-top: 8px;
		}
	}
}


@media all and (max-width: 650px) {
  #search {
  	display: none;
  }

   .about-header {
   		h1 {
  			display: none;
  		}

  		hr {
  			display: none;
  		}
 	}

 .container_wrapper {
  		padding-top: 30px;

	  	.about-header {

		    .about-info {
		  		 width: 100%;
		  	}

		  	.about-support {
		  		 width: 100%;
		  	}
		}
	}
 }